.main-header {
  text-align: center;
  margin: 1.5em;
}

#report-container {
  margin-top: 1em;
  min-height: 100px;
}

#loading-gif {
  background: url('spinner.gif') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}